<div class="country_header">
  <h2>{{Country}}</h2>
</div>
<div class="general">
  <img src="Icons6.svg" />
  <div>
    <h3>General</h3>
    <ul>
      <li>
        <strong>Literacy Rate:</strong> {{lr}}</li>
      <li>
        <strong>Religions:</strong> {{Religions}}</li>
      <li>
        <strong>Languages:</strong> {{Languages}}</li>
      <li>
        <strong>Population:</strong> {{Population}}</li>
    </ul>
  </div>
</div>
<div class="geography">
  <img src="Icons3.svg" />
  <div>
    <h3>Geography</h3>
    <ul>
      <li>
        <strong>Capital:</strong> {{Capital}}</li>
      <li>
        <strong>Primary Natural Resources:</strong> {{pnr}}</li>
      <li>
        <strong>Topography:</strong> {{Topography}}</li>
      <li>
        <strong>Climate:</strong> {{Climate}}</li>
    </ul>
  </div>
</div>


<div class="health">
  <img src="Icons2.svg" />
  <div>
    <h3>Health</h3>

    <ul>
      <li>
        <strong>Life Expectancy:</strong> {{le}}</li>
      <li>
        <strong>Infant Mortality Rate:</strong> {{imr}}</li>
      <li>
        <strong>Primary Causes of Death:</strong> {{pcod}}</li>
    </ul>
  </div>
</div>

<div class="economic">
  <img src="Icons4.svg" />
  <div>
    <h3>Economic</h3>
    <ul>
      <li>
        <strong>GDP Per Capita:</strong> {{GDPPC}}</li>
      <li>
        <strong>Currency-Exchange Rate:</strong> {{cer}}</li>
      <li>
        <strong>Big Mac Index:</strong> {{bmi}}</li>
      <li>
        <strong>GDP Growth:</strong> {{gdpg}}</li>
      <li>
        <strong>Income Inequality:</strong> {{ii}}</li>
    </ul>
  </div>
</div>
<div class="political">

  <img src="Icon1.svg" />
  <div>
    <h3>Political</h3>
    <ul>
      <li>
        <strong>Freedomhouse Score:</strong> {{fhs}}</li>
      <li>
        <strong>Type of Government:</strong> {{gov}}</li>
    </ul>
  </div>
</div>
<div class="business">
  <img src="Icons5.svg" />
  <div>
    <h3>Business</h3>
    <ul>
      <li>
        <strong>Corruption Perceptions Index:</strong> {{cpi}}</li>
      <li>
        <strong>Heritage Index of Economic Freedom:</strong> {{hioef}}</li>
    </ul>
  </div>
</div>